<!doctype html>
<html lang="en">

<head>
    <title>Home page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/authorstyle.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="plotly-latest.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="col-6">
            <a class="navbar-brand mb-0 h1" href="{{url_for('index')}}">NHL Betting Results</a>
        </div>
        <div class="col-3"><button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('teamSearch')}}">Team Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('vs')}}">Standing vs Ranking</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('info')}}">Information</a>
                </li>
                
                <!-- <span
                class="sr-only">(current)</span> -->
            </ul>

        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
            <div class="col">
                    <h1 class="font-weight-light">All Team Results</h1>
                    <p>Enter a year from 2010-2019
                    </p>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                </div>

        <!-- Heading Row -->
        <!-- <div class="row align-items-center my-5">
            <div class="row">
                <div id="authorSearch"> -->
                   <!-- This chart will be interactive by search for title or author to display performance over time.  -->
                </div>
            </div>
            <form autocomplete="off" action="/action_page.php">
                <div class="autocomplete" style="width:300px;">
                  <input id="myInput" type="text" name="myCountry" placeholder="2010">
                </div>
                <input id='filter-btn' type="submit">
              </form>

            <!-- <form >
            <div class="form-group">
                <input class="form-control" id="author" type="text" placeholder="2010">
            </div>
            <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
        </form> -->
            <!-- /.col-lg-8 -->
            <div class="col-md-5">
                <div id="pie"></div>
              </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- <div class="col">
            <h1 class="font-weight-light">Author Search</h1>
            <p>Search for your favorite author here! Maybe see how each Harry Potter book did? Or find a new great read?
            </p>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        </div> -->
    </div>
    <!-- <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Created by Ryan Heller & Jarred Armijo &copy; 2019</p>
        </div> -->
        <!-- /.container -->
    <!-- </footer> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/yearSearch.js') }}"></script>
        <script src="{{url_for('static', filename='js/charts.js')}}"></script>

</body>

</html>